* {
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
    /* Assure que les paddings et bordures ne modifient pas la largeur des éléments */
}

body {
    max-width: 100%;
    /* Limite la largeur maximale du corps à 100% de la fenêtre */
    overflow-x: hidden;
    /* Cache la barre de défilement horizontale si le contenu dépasse */
}

/*-----------------------------------
  
  ===>
  
  -----------------------------------*/

.sign-up-child {
    position: absolute;
    top: 396px;
    left: 459px;
    border-radius: 50%;
    background-color: var(--color-limegreen-200);
    filter: blur(200px);
    width: 353px;
    height: 353px;
    display: none;
}

.sign-up-item {
    position: absolute;
    top: 0;
    left: 818px;
    width: 548px;
    height: 768px;
    object-fit: cover;
}

.sign-up-inner {
    position: absolute;
    top: 436px;
    left: 689px;
    border-radius: 50%;
    background-color: var(--color-limegreen-200);
    filter: blur(200px);
    width: 353px;
    height: 353px;
    display: none;
}

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro-200);
    box-sizing: border-box;
    width: 402px;
    height: 72px;
}

.nom-complet {
    position: absolute;
    top: 25px;
    left: 24px;
    line-height: 14.5px;
}

.rectangle-parent {
    position: absolute;
    top: 197px;
    left: 0;
    width: 400px;
    height: 70px;
    color: var(--color-dimgray);
}

.email {
    position: absolute;
    top: 27px;
    left: 24px;
    line-height: 14.5px;
}

.rectangle-group {
    position: absolute;
    top: 287px;
    left: 0;
    width: 400px;
    height: 70px;
    color: var(--color-dimgray);
}

.blind-1-icon {
    position: absolute;
    height: 28.57%;
    width: 5%;
    top: 35.71%;
    right: 5.75%;
    bottom: 35.71%;
    left: 89.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.rectangle-container {
    top: 377px;
    height: 70px;
    color: var(--color-dimgray);
}

.button-child,
.group-div,
.rectangle-container {
    position: absolute;
    left: 0;
    width: 400px;
}

.group-div {
    top: 467px;
    height: 70px;
    color: var(--color-dimgray);
}

.button-child {
    top: 0;
    border-radius: var(--br-3xs);
    height: 57.8px;
}

.crer-un-compte {
    position: absolute;
    top: 23.1px;
    left: 142px;
    line-height: 11.96px;
}

.button {
    position: absolute;
    top: 565px;
    left: 0;
    width: 400px;
    height: 57.8px;
    font-size: 14.8px;
    border-radius: 10px;
    border-color: #20DC49;
    background-color: #20DC49;
}

.premiers-pas-avec {
    font-weight: 600;
}

.premiers-pas-avec-container,
.vos-donnes-sont {
    position: relative;
    line-height: 44px;
}

.vos-donnes-sont {
    font-size: var(--font-size-sm);
    line-height: 14.5px;
    font-weight: 300;
    color: var(--color-dimgray);
}

.premiers-pas-avec-kidscarehub-parent {
    position: absolute;
    top: 0;
    left: calc(50% - 189.5px);
    background-color: var(--color-whitesmoke);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-10xs);
    font-size: 24px;
}

.ou-continuez-avec {
    position: absolute;
    top: 163px;
    left: calc(50% - 64.5px);
    font-size: var(--font-size-smi);
    line-height: 14.5px;
}

.sign-up-details-child,
.sign-up-details-item {
    position: absolute;
    top: 164.5px;
    left: 0;
    max-height: 100%;
    width: 130px;
}

.sign-up-details-item {
    left: 265px;
}

.group-child1 {
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-limegreen-100);
    box-sizing: border-box;
    width: 126px;
    height: 43px;
}

.google {
    position: absolute;
    top: 0;
    left: 56px;
    line-height: 44px;
    font-weight: 500;
}

.google-1-icon {
    position: absolute;
    top: 11px;
    left: 26px;
    width: 22px;
    height: 22px;
    overflow: hidden;
}

.rectangle-parent1 {
    position: absolute;
    top: 100px;
    left: 62px;
    width: 126px;
    height: 44px;
    font-size: var(--font-size-xs);
}

.group-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 126px;
    height: 43px;
}

.facebook-1-icon {
    position: absolute;
    top: 8px;
    left: 17px;
    width: 26px;
    height: 26px;
    overflow: hidden;
}

.facebook {
    position: absolute;
    top: 0;
    left: 51px;
    line-height: 44px;
    font-weight: 500;
}

.rectangle-parent2 {
    position: absolute;
    top: 101px;
    left: 202px;
    width: 126px;
    height: 44px;
    font-size: var(--font-size-xs);
}

.sign-up-details {
    position: absolute;
    top: 113.5px;
    left: 207px;
    width: 405px;
    height: 622.8px;
}

.illustration-icon {
    width: 66.2px;
    position: relative;
    height: 82.5px;
}

.kidscarehub {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 30.27px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-10xs);
}

.avez-vous-un-compte,
.connexion {
    width: 169px;
    position: relative;
    line-height: 14.5px;
    font-weight: 300;
    display: inline-block;
    height: 17px;
    flex-shrink: 0;
}

.connexion {
    width: 85px;
    font-weight: 500;
    color: var(--color-limegreen-100);
}

.avez-vous-un-compte-parent {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-8xs);
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.avez-vous-un-compte-parent,
.frame-div,
.logo-parent {
    display: flex;
    justify-content: flex-start;
}

.logo-parent {
    flex-direction: row;
    align-items: center;
    gap: 220px;
}

.frame-div {
    position: fixed;
    /* Fixez la position en "fixed" */
    top: 0;
    /* Fixez la navbar en haut de la fenêtre */
    left: 0;
    background-color: var(--color-whitesmoke);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-5xs) var(--padding-37xl);
    font-size: var(--font-size-10xl-2);
    color: var(--color-darkslategray);
    font-family: var(--font-macondo-swash-caps);
    width: 818px;
    z-index: 1000;
    /* Ajoutez une valeur de z-index pour s'assurer que la navbar s'affiche au-dessus des autres éléments */
}

.group-child3 {
    position: absolute;
    top: 0;
    left: 0.1px;
    border-radius: var(--br-3xs);
    background-color: var(--color-limegreen-100);
    width: 361px;
    height: 45px;
}

.vector-icon {
    height: 100%;
    width: 13.27%;
    top: 0;
    right: 86.73%;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.group-icon,
.vector-icon,
.vector-icon1 {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon1 {
    height: 75.16%;
    width: 9.97%;
    top: 8.35%;
    right: 88.37%;
    bottom: 16.49%;
    left: 1.66%;
    opacity: 0.4;
}

.group-icon {
    height: 42.38%;
    width: 4.38%;
    top: 25.05%;
    right: 91.19%;
    bottom: 32.57%;
    left: 4.43%;
}

.trouvez-votre-nounou {
    position: absolute;
    top: 14px;
    left: 51.1px;
    line-height: 122.19%;
}

.rectangle-parent3 {
    width: 361.1px;
    position: relative;
    height: 47.9px;
}

.sign-up-inner1 {
    position: fixed;
    top: 32px;
    left: 841px;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray);
    backdrop-filter: blur(100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-9xl);
    font-family: var(--font-roboto);
}

.sign-up {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke);
    height: 768px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.tite:not(:placeholder-shown):valid {
    border-color: green;
}

.tite:not(:placeholder-shown):invalid {
    border-color: red;
}

.invalid {
    border-color: red; /* Par exemple, changez la bordure en rouge pour indiquer que les mots de passe ne correspondent pas */
}


.kidscarehub-link {
    text-decoration: none;
    /* Supprime le soulignement du lien */
    color: inherit;
    /* Utilise la couleur par défaut du texte */
    /* Ajoutez d'autres styles ici selon vos besoins */
}